version: 2

defaults: &defaults
  working_directory: ~/repo
  docker:
  - image: circleci/node:8.9.1

jobs:
  test:
    <<: *defaults
    steps:
      - checkout

      - run:
          name: Install Codecov
          command: npm install codecov

      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "package.json" }}
          # fallback to using the latest cache if no exact match is found.
          - v1-dependencies-

      - run: npm install
      - run:
          name: Build component
          command: npm run build
      - run:
          name: Run tests
          command: npm test

      - run:
          name: Upload coverage report
          command: npx codecov

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: ~/repo
          paths:
            - .

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo

      - run:
          name: Authenticate with registry
          command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repo/.npmrc

      - run:
          name: Publish package
          command: npm publish

workflows:
  version: 2

  test_deploy:
    jobs:
      - test
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
